.PageBar{
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.PageBar button{
    outline: 0px;
    border : 1px solid white;
    background-color: white;
    transition: ease-out 0.3s;
}

.PageBar button:hover{
    border : 1px solid #25bc6d;
    color : #25bc6d;
}

.PageMoveBtn{
    width: 28px;
    height: 28px;
}

.MoveLeft, .MoveRight{
    width: 50px;
    height: 28px;
}

.BtnWrite {
    width: 80px;
    border: 1px solid #25bc6d;
    background-color: #25bc6d !important;
    padding: 8px 0 8px 0;
    border-radius: 8px;
    outline: #1faf65;
    color:white;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in 0.15s;
    box-shadow: 3px 3px 7px transparent;
}

.BtnWrite:hover{
    background-color: #2bc777 !important;
    color : white !important;
    box-shadow: 3px 3px 7px thistle;
}

.BtnWrite:focus{
    background-color: #2bc777;
    border-color: #9dffcd;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3) inset;;
}