.main {
    text-align: center;
    padding-top : 150px;
}

.board-in {
    padding-left : 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main h1 {
    margin-top : -90px;
    line-height: 40px;
    font-size: 2rem;
    text-align: left;
}

.main p {
    margin-top : 50px;
    font-size : 1.01rem;
    text-align : left;
    line-height: 1.2rem;
    color : #62757f;
}

.test { 
    text-align: left;
    margin-top : 50px;
}

.test-btn {
    display: inline-block;
    width : 283px;
    height : 40px;
    box-sizing: border-box;
    text-align: center;
    margin : 5px 7px 0 0;
    padding : 8px 0 8px 0;
    border : 0.5px solid #25cc6d;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 15px;
    font-weight : normal;
    background-color: #25bc6d;
    color : white;
    outline: none;
    cursor: pointer;
    transition : all .5s ease;
}

.test-btn:hover {
    background-color : white;
    color : #25bc6d;
}

.test p {
    margin-top : 11px;
    font-size : 11px;
    color: gray;
}