.container{
    display : flex;
    justify-content: center;
    width : 100%;
    height : 100vh;
}

.contentbox{
    width : 100%;
    background-color: white;
    border-radius: 15px;
    padding : 15px;
    margin : 10px 0 0 20px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.EnterBtn{
    width: 100px;
    border: 1px solid #25bc6d;
    background-color: #25bc6d;
    padding: 8px 0 8px 0;
    border-radius: 8px;
    outline: #1faf65;
    color:white;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: ease-in 0.15s;
    box-shadow: 3px 3px 7px transparent;
}

.EnterBtn:hover{
    background-color: #2bc777;
    box-shadow: 3px 3px 7px thistle;
}

.EnterBtn:focus{
    background-color: #2bc777;
    border-color: #9dffcd;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3) inset;;
}

