form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top : 50px;
    text-align: left;
}


label {
    cursor: pointer;
    font-weight: 520;
    margin-bottom: 1.5em;
}

h2 {
    font-size : 20px;
    text-align: left;
}

.btn1 {
    display: inline-block;
    width : 70px;
    height : 40px;
    box-sizing: border-box;
    text-align: center;
    margin : 5px 7px 0 0;
    padding : 8px 0 8px 0;
    border : 0.5px solid #9dffcd;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 15px;
    font-weight : normal;
    background-color: #25bc6d;
    color : white;
    outline: none;
    cursor: pointer;
}
.btn2 {
    display: inline-block;
    transition : all .5s ease;
    width : 70px;
    height : 40px;
    box-sizing: border-box;
    text-align: center;
    margin : 5px 7px 0 0;
    padding : 8px 0 8px 0;
    border : 0.5px solid #9dffcd;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 15px;
    font-weight : normal;
    background-color: white;
    color : #25bc6d;
    outline: none;
    cursor: pointer;
}

.btn2:hover {
    background-color : #25bc6d;
    color : white;
}

.btn3 {
    display: inline-block;
    width : 70px;
    height : 40px;
    box-sizing: border-box;
    text-align: center;
    margin : 5px 7px 0 0;
    padding : 8px 0 8px 0;
    border : 0.5px solid #9dffcd;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 15px;
    font-weight : normal;
    background-color: #25bc6d;
    color : white;
    outline: none;
    cursor: pointer;
}





